:root {
  --textColor: #000000;
  --backgroundColor: linear-gradient(
    135deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(42, 42, 42, 1) 100%
  );
  --mainColor: #fceb00;
  --secondaryColor: #ac0202;
  --thirdColor: #faf600;
  --fourthColor: #c58eb5;
  --pageHeight: 100dvh;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-micro-5: "Micro 5", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--backgroundColor);
  height: 100dvh;
  background: linear-gradient(
      168deg,
      rgb(252, 255, 57) 0%,
      rgb(236, 215, 95) 40%,
      rgb(216, 202, 6) 80%,
      rgb(245, 223, 124) 100%
    ),
    url("/noise.svg");
  background-blend-mode: overlay;
  background-blend-mode: multiply;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
ol {
  margin: 0;
  font-family: var(--font-space-grotesk), sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

main {
  overflow-y: scroll;
  padding: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 1600px;
}

li {
  list-style: none;
}

button {
  max-width: 200px;
  padding: 5px 10px;
  height: 40px;
  background: var(--mainColor);
  border: 1px solid var(--fourthColor);
  border-radius: 5px;
  font-family: var(--font-space-grotesk), sans-serif;
  font-size: 1rem;
}
